/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
}


/*
 * Base structure
 */

body {
  background-color: #F5F5F5 !important;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

#logo {
  max-width: 25%;
  height: auto;
  float: left;
}

#logo_text {
	position: relative;
}

.green_text {
	color: #84E3C8
}

.melon_text {
	color: #FFAAA5
}

.select_button {
	background-color: #69DDBC !important;
	border: #9BB8FD !important;
	color: #000000 !important;
}

.footer_buttons {
	background-color: #FF7480 !important;
	border: #FF7480 !important;
}

[aria-current] {
	font-weight: bold;
}

@media (min-width: 850px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331!important;
            }
        }
.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.3)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:1000px){.navbar{background-color:#1C2331}}